.restalign{
    display: flex;
    justify-content: center;
    font-size: 25px;
    font-weight: 500;
}

.showpasswordd{

    position: absolute;
    right: 20%;
    top: 30%;
    list-style: none;
}

@media screen and (max-width: 780px) {
      
.showpasswordd{

    position: absolute;
    right: 20px;
    list-style: none;
}
   }
   