.mainplaceorder {
  background-color: #f5f5f5;
  padding-top: 40px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 66px;
}
.divcontentplaceorder {
  background-color: #d9d9d9;
  padding-top: 20px;
  padding-bottom: 20px;
}
.choosediv {
  display: flex;
  background: #f4f8fc;
  border-top-right-radius: 12px;
  border-bottom-right-radius: 12px;
  margin-right: 20px;
  border-top-left-radius: 12px;
  height: 67px;
  align-items: center;
}

.chooseplan {
  margin-top: 34px;
  margin-left: 90px;
}
.choosetext {
  background-color: #c8d6f5;
  margin-left: 87px;
  height: 61px;
  display: flex;
  align-items: center;
  padding-left: 70px;
  padding-right: 70px;
  border-radius: 20px;
}

.imgorder {
  width: 35px;
  margin-right: 10px;
}

.imgplan {
  margin-right: 4px;
}
.choosetext1 {
  background-color: #c8d6f5;
  margin-left: 50px;
  height: 61px;
  display: flex;
  align-items: center;
  padding-left: 81px;
  padding-right: 80px;
  border-radius: 20px;
}
.textchoose {
  font-weight: 600 !important;
  height: 61px;
  font-size: 25px !important;
  font-weight: 400 !important;
}

.textchoose1 {
  font-weight: 400 !important;
  font-size: 25px !important;
  font-weight: 400 !important;
}
.orderdivselect {
  display: flex;
}
.freediv {
  display: flex;
}
.freetext {
  background-color: #f4f8fc;
  border-top: 1px solid #d9d9d9;
  width: 250px;
  height: 38px;
}
.freetext1 {
  background-color: #f4f8fc;
  border-top: 1px solid #d9d9d9;
  width: 250px;
  height: 38px;
  border-bottom-left-radius: 20px;
}
.featuresdiv {
  padding-left: 20px;
  padding-top: 10px;
}

.selectdiv {
  margin-top: 30px;
}

.select {
  border: none;
  width: 400px;
  height: 40px;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
  margin-left: 80px;
}
.select:focus {
  border: none;
}
.feature {
  font-size: 25px !important;
  font-weight: 400 !important;
}

.imgtext {
  font-size: 25px !important;
  font-weight: 400 !important;
}
.orderbtn {
  border: none;
  padding-left: 70px;
  padding-right: 70px;
  background-color: #e84545;
  color: white;
  border-radius: 10px;
  margin-left: 160px;
  height: 74px;
  width: 497px;
  font-size: 25px;
}

.userlistmain {
  display: flex !important;
  flex-direction: column !important;
  justify-content: space-between !important;
}

.divdropdown {
  width: 400px;
  margin-left: 89px;
  margin-top: 50px;
}
.dropdown {
  position: relative;
  color: #333;
  cursor: default;
}

.dropdown .arrow {
  border-color: #999 transparent transparent;
  border-style: solid;
  border-width: 28px 41px 0;
  content: " ";
  display: block;
  height: 0;
  margin-top: 0.3rem;
  position: absolute;
  right: px;
  top: 20px;
  width: 0;
  left: 480px;
}

.dropdown .arrow.open {
  border-color: transparent transparent #999;
  border-width: 0 5px 5px;
  display: none;
}

.dropdown .selected-value input {
  line-height: 1.5;
  font-size: 1rem;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 2px;
  box-sizing: border-box;
  cursor: default;
  outline: none;
  padding: 8px 52px 8px 10px;
  transition: all 200ms ease;
  width: 587px;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
  height: 84px;
  font-size: 30px;
}

.dropdown .options {
  display: none;
  background-color: #fff;
  border: 1px solid #ccc;
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.06);
  box-sizing: border-box;
  margin-top: -1px;
  max-height: 587px;
  overflow-y: auto;
  position: absolute;
  top: 100%;
  z-index: 1000;
  -webkit-overflow-scrolling: touch;
  width: 587px;
}

.dropdown .options.open {
  display: block;
}

.dropdown .option {
  box-sizing: border-box;
  color: rgba(51, 51, 51, 0.8);
  cursor: pointer;
  display: block;
  padding: 20px 20px;
  border-bottom: 1px solid gray;
  height: 84px;
  width: 566px;
  font-size: 30px;
}

.dropdown .option.selected,
.dropdown .option:hover {
  background-color: #f2f9fc;
  color: #333;
}

.mobileplace {
  font-size: 45px !important;
  margin-bottom: 5px !important;
}
.orderimgg{
  width: 40px; 
  margin-right: 10px;
}

.arrowicon{
  width: 30px;
  
  margin-right: 10px;
}
@media screen and (max-width: 780px) {
  .orderdivselect {
    display: block;
  }

  .freediv {
    display: block;
  }
  .choosetext {
    display: none;
  }
  .choosetext1 {
    display: none;
  }
  .featuresdiv {
    padding-right: 0px;
  }

  .orderbtn {
    margin-left: 0px;
    width: 100%;
  }

  .select {
    margin-left: 0px;
    width: 100%;
  }

  .mobileplace {
    font-size: 30px !important;
    margin-bottom: 5px !important;
  }
  .mainplaceorder {
    padding-bottom: 20px;
  }

  .divdropdown {
    width: 100%;
    margin-left: 0px;
    margin-top: 50px;
  }
  .choosediv {
    width: 100%;
  }

  .dropdown .selected-value input {
    width: 307px;
    font-size: 20px;
    height: 45px;
  }

  .dropdown .arrow {
    border-width: 5px 5px 0;
    top: 15px;
    left: 270px;
  }
  
.dropdown .options {
  
  max-height: 307px;
 
  width: 307px;
}


.dropdown .option {
 
  padding: 3px 2px;
 
  height: 45px;
  width: 306px;
  font-size: 15px;
}

.orderbtn {
  
  padding-left: 70px;
  padding-right: 70px;
  height: 45px;
  width: 307px;
  font-size: 15px;
}

.arrowicon{
  width: 20px;
}

.mainplaceorder {
  background-color: #f5f5f5;
  padding-top: 0px;
  padding-left: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
}
}
