
.spanhometxt{
    background-color: #9e9191!important;
    padding: 2px!important;
    color: white!important;
    font-size: 15px!important;
}

.spanhometxt1{
    display: flex!important;
    justify-content: center!important;
    align-items: center!important;
}


.spanhometxt2{
    font-size: 150%!important;
    display: flex!important;
    flex-wrap: wrap!important;
    padding-top: 12px!important;
    justify-content: center!important;
    font-weight: 600!important;
}

.spanhometxt4{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-bottom: 15px;
}

.mainhome{
   
  width: 100%;
  padding-top: 110px!important;
  padding: 6px;
}
.mainhometxt{

    margin-top: 80px;
    margin-bottom: 20px;
}

.homebtn{
    height: 45px;
}

.homeOR{
    color: gray;
     font-size: 40;
}
@media screen and (max-width: 780px) {
    .buttonfree{
       width: 100%;
    }
    .Headingsize
    {
        font-size: 40px;

    }
    
    .mobilewidth
    {
        width: 100%;
    }


  }
  
